{% load static %}
<footer class="footer">
    <div class="row align-items-center justify-content-xl-between">
      <div class="col-xl-6">
        <div class="copyright text-center text-xl-left text-muted">
          &copy; 2019 <a href="" class="font-weight-bold ml-1" target="_blank">Angkasa Pura</a>
        </div>
      
    </div>
  </footer>
</div>
</div>
<!-- Argon Scripts -->
<!-- Core -->

<script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<!-- Argon JS -->
<script src="{% static 'js/argon.js?v=1.0.0' %}"></script>