{% extends 'home_base.html' %}
{% load static %}
{% block content %}

    <div class="header bg-green pb-8 pt-5 pt-md-4">

    </div>
          
    <!-- Page content -->
    <div class="container-fluid mt--7">

      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">

            <div class="card-header border-0">
                <h3>Perhitungan Kernel Radial Basis Fuction (RBF)</h3>
              </div>

            <div class="table-responsive">

              <table class="table align-items-center table-flush">
                  <thead>
                      <tr>
                          <td>K(x,y)</td>
                          {% for data in data.n_data_normalisasi %}
                              <td>{{ data.no }}</td>
                          {% endfor %}
                      </tr>
                  </thead>
                  <tbody>
                  {% for datax in data.n_list_data_kernel_view %}
                      <tr class="tr-shadow">
                          <td><b> {{ forloop.counter }} </b></td>
                      {% for datay in datax %}
                          <td> {{ datay }} </td>
                      {% endfor %}
                      </tr>
                      <tr class="spacer"></tr>
                  {% endfor %}
                  </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
    

{% endblock %}
