{% extends 'home_base.html' %}
{% load static %}
{% block content %}
    <div class="header bg-green pb-8 pt-5 pt-md-4">
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--7">

      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
              <div class="card-header border-0">
                <br>
                  <h1> SELAMAT DATANG ! </h1>
                  <br>
                  <Font size = 3px>
                  Aplikasi Ini Terdiri Dari Beberapa Menu, Yaitu : <br>
                  <li> Menu Data Perkembangan Program Studi Yang Digunakan Untuk Mengelola Data Perkembangan Program Studi <br>
                  <li> Menu Klasifikasi Yang Terdiri Dari Beberapa Teknik Klasifikasi Yang Digunakan, Yaitu :
                      <ul>1. Metode Naive Bayes <br>
                          2. Metode Support Vector Machine - Sequential Training <br>
                          3. Metode Support Vector Machine - Sequential Minimal Optimization <br>
                          4. Metode Decission Tree J48 (C4.5)
                      </ul>
                  </li>
                  </Font>
              </div>
             
              <div class="table-responsive">
              </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
