{% extends 'header home.html' %}
{% load static %}
{% block content %}
<html>  
<body>
     
    <div class="header bg-green pb-8 pt-5 pt-md-4"> </div>
          
    <!-- Page content -->
    <div class="container-fluid mt--7">

      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">

            <div class="card-header border-0">
             <h1> SELAMAT DATANG ! </h1>
             <br>
             <br>
             <br>
            </div>

            <div class="table-responsive">
 
              <!-- Tabel Data Transportasi -->

              
            </div>      
          </div>
        </div>
</body>
</html>
{% endblock %}
