<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN KLASIFIKASI PRODI</title>
    <link rel="icon" href="{% static  'Gambar/logo_univ.png' %}" type="image/icon type">

    <!-- Custom Theme files -->
    <link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css" media="all" />
    <!-- //Custom Theme files -->
    <!-- web font -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
    <!-- //web font -->

</head>
<body>
    <div class="login-page">
        <div class="form">
            <center><img src="{% static  'Gambar/logo_univ.png' %} " width = "150px" height = "150px"/></center>
            <br>
            <br>
            <form class="login-form" method="post">
                <!--<input type="text" placeholder="username"/>
                <input type="password" placeholder="password"/>-->

                {% csrf_token %}

                {% for field in form %}

                    {{ field }}

                    {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}

                {% endfor %}

                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">

                        {{ message }}

                    </div>
                {% endfor %}

                <button type="submit">login</button>
                
            </form>
        </div>
    </div>
</body>
</html>