<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul class="list-group">
        <li class="list-group-item ">
            <a>Semester Mulai </a> : <a> {{ data.semester_mulai }} </a>
        </li>
        <li class="list-group-item ">
            <a>Kode Prodi </a> : <a> {{ data.kode_prodi }} </a>
        </li>
        <li class="list-group-item ">
            <a>Nama Lembaga </a> : <a> {{ data.tahun_smstr }} </a>
        </li>
        <li class="list-group-item ">
            <a>Id Didik </a> : <a> {{ data.nama_prodi}} </a>
        </li>
        <li class="list-group-item ">
            <a>Peminat Prodi </a> : <a> {{ data.peminat_prodi }} </a>
        </li>
        <li class="list-group-item ">
            <a>Rerata IPK </a> : <a> {{ data.rerata_ipk }} </a>
        </li>
        <li class="list-group-item ">
            <a>Kelulusan </a> : <a> {{ data.kelulusan }} </a>
        </li>
        <li class="list-group-item ">
            <a>Akreditasi </a> : <a> {{ data.jam_kehadiran_dosen }} </a>
        </li>
        <li class="list-group-item ">
            <a>Akreditasi </a> : <a> {{ data.rerata_nilai_dosen }} </a>
        </li>
        <li class="list-group-item ">
            <a>Kelas </a> : <a> {{ data.label_kelas }} </a>
        </li>
    </ul>
</body>
</html>